/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "bootstrap_settings";
@import "bootstrap";
@import "mixins";

$headerHeight: 41px;

body {
	padding-top: $headerHeight;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	background: white;
	width: 100%;
	height: 100%;
}

.main-content {
    padding-bottom: 30px;
    padding-top: 30px; 
}

.nav > li > a.active {
    color: white;
    background-color: $linkColor;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);

    &:hover {
        text-shadow:  0 1px 0 white;
    }
}

