<script type="text/x-handlebars" data-template-name="_nav">
<div class='navbar navbar-fixed-top'>
    <div class='navbar-inner'>
        <div class='container'>
            <ul class='nav'>
                <li>{{#linkTo "index"}}Home{{/linkTo}}</li>
                <li>{{#linkTo "resume"}}Resume{{/linkTo}}</li>
                <li>{{#linkTo "contact"}}Contact{{/linkTo}}</li>
            </ul>
        </div>
    </div>
</div>
</script>
